/* ====================== Page Elements ====================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

body, td, th, p {
  font-size: 12pt;
  color: #333;
  line-height: 1.2; }

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative; }

ul, li {
  color: #333; }

a {
  color: orange;
  text-decoration: none; }
  a:hover, a:focus {
    color: #3397db;
    text-decoration: none; }
  a img {
    border: none 0px #fff; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px; }

.site-title {
  width: 100%;
  height: 70px;
  background-color: #252831;
  text-align: center;
  margin: auto;
  padding: 20px 10px 0;
  display: block;
  font-size: 22px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
  position: relative;
  z-index: 1000; }
  @media screen and (max-width: 760px) {
    .site-title {
      font-size: 18px;
      padding-top: 15px;
      height: 50px; } }
  @media screen and (max-width: 425px) {
    .site-title {
      padding-top: 10px;
      height: 65px; } }
  .site-title a {
    color: #fff; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

#maincontent {
  background-color: #ececec;
  min-height: 100%; }

#site-footer {
  background-color: #444;
  color: #aaa;
  font-size: 10pt;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px; }
  #site-footer a {
    color: orange; }

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  overflow: hidden !important;
  margin: 0 0 0 0 !important; }

/* ====================== Navigation ====================== */
#breadcrumb {
  padding: 13px 15px;
  list-style: none;
  background-color: #eee;
  font-size: 12pt;
  margin: 0;
  width: 40%;
  height: 50px;
  border-bottom: 1px solid rgba(241, 130, 0, 0.3);
  /* Display list items side by side */
  /* Add a slash symbol (/) before/behind each list item */ }
  @media screen and (max-width: 1100px) {
    #breadcrumb {
      width: 100%;
      text-align: center; } }
  #breadcrumb li {
    display: inline;
    /* Add a color to all links inside the list */ }
    #breadcrumb li a {
      color: #0275d8;
      text-decoration: none;
      /*Add a color on mouseover*/ }
      #breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline; }
      #breadcrumb li a.current-page {
        color: #000;
        cursor: default; }
        #breadcrumb li a.current-page:hover {
          color: #000;
          text-decoration: none; }
  #breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0"; }

#tab-nav-container {
  position: absolute;
  top: 70px;
  right: 15px;
  z-index: 999; }
  @media screen and (max-width: 760px) {
    #tab-nav-container {
      top: 50px; } }
  #tab-nav-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 12px;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    -o-transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
    background-color: #252831;
    border-radius: 0 0 2px 2px;
    -webkit-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    transform: translateY(-150px);
    padding: 10px; }
    #tab-nav-container ul.expanded {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  border-left: 1px solid #c2c2c2; }
  @media screen and (max-width: 1100px) {
    #map {
      height: 300px; } }
  @media screen and (max-width: 760px) {
    #map {
      height: 200px; } }

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #ececec;
  list-style: outside none none;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px 20px 60px 20px; }
  #restaurants-list li {
    background-color: #fff;
    font-family: Arial,sans-serif;
    margin-bottom: 20px;
    border-radius: 30px 2px 30px 2px;
    text-align: left;
    width: calc(33% - 20px);
    overflow: hidden;
    position: relative; }
    @media screen and (max-width: 1080px) {
      #restaurants-list li {
        width: calc(50% - 40px); } }
    @media screen and (max-width: 765px) {
      #restaurants-list li {
        width: 100%; } }
    #restaurants-list li h3 {
      color: #f18200;
      font-family: Arial,sans-serif;
      font-size: 14pt;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.3;
      margin: 39% 0 0;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      background-color: #ececec;
      padding: 10px 30px 10px 15px;
      display: inline-block;
      border-radius: 0 30px 0 0; }
      @media screen and (max-width: 600px) {
        #restaurants-list li h3 {
          font-size: 12pt;
          padding: 5px 30px  5px  10px; } }
    #restaurants-list li a {
      background-color: orange;
      color: #fff;
      display: inline-block;
      font-size: 10pt;
      margin: 0;
      padding: 10px 0 10px 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: left;
      text-decoration: none;
      font-weight: 600;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      width: calc(100% + 30px);
      right: 15px;
      -webkit-transition: -webkit-transform 300ms ease-in-out;
      transition: -webkit-transform 300ms ease-in-out;
      -o-transition: transform 300ms ease-in-out;
      transition: transform 300ms ease-in-out;
      transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
      -webkit-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
      transform: translate3D(0, 0, 0);
      line-height: 16px;
      letter-spacing: 0.05em; }
      #restaurants-list li a span {
        font-size: 12pt;
        position: relative;
        top: -1px;
        color: #fff;
        line-height: 16px; }
      #restaurants-list li a:hover, #restaurants-list li a:focus {
        -webkit-transform: translate3D(15px, 0, 0);
        -ms-transform: translate3D(15px, 0, 0);
        transform: translate3D(15px, 0, 0); }
      @media screen and (max-width: 600px) {
        #restaurants-list li a {
          font-size: 10pt;
          padding: 8px 0 8px 25px; } }
    #restaurants-list li p {
      position: relative;
      z-index: 1;
      background: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.45)));
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.45) 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.45) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.45) 100%);
      padding: 10px 15px;
      font-size: 12pt;
      font-weight: 400;
      text-align: left; }
      #restaurants-list li p:first-of-type {
        padding-bottom: 0; }
      @media screen and (max-width: 600px) {
        #restaurants-list li p {
          padding: 5px 10px; } }
  #restaurants-list .restaurant-img {
    background-color: #ccc;
    margin: 0;
    width: 100%;
    position: absolute;
    z-index: 0; }
  #restaurants-list p {
    margin: 0;
    font-size: 11pt; }

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 800;
  pointer-events: none; }
  .inside header a {
    pointer-events: all; }

@media screen and (min-width: 761px) {
  .inside #maincontent {
    margin-top: 120px; } }

@media screen and (max-width: 760px) {
  .inside #maincontent {
    margin-top: 100px; } }

.inside #map-container {
  height: calc(100% - 70px);
  position: fixed;
  right: 0;
  top: 70px;
  width: 60%; }
  @media screen and (max-width: 1100px) {
    .inside #map-container {
      width: 100%;
      height: 300px;
      top: 0;
      position: relative;
      z-index: 1;
      border-bottom: 1px solid rgba(241, 130, 0, 0.3); } }
  @media screen and (max-width: 760px) {
    .inside #map-container {
      height: 200px;
      top: 10px; } }
  @media screen and (max-width: 425px) {
    .inside #map-container {
      top: 25px; } }

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%; }

.inside #site-footer {
  width: 40%; }
  @media screen and (max-width: 1100px) {
    .inside #site-footer {
      width: 100%; } }

#restaurant-name {
  color: #f18200;
  background-color: #ececec;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 400px 0 0;
  padding: 10px 30px 10px 15px;
  border-radius: 0 30px 0 0;
  text-transform: uppercase;
  line-height: 1.1;
  position: relative;
  z-index: 10;
  display: inline-block;
  border: solid rgba(241, 130, 0, 0.3);
  border-width: 1px 1px 0 0; }
  @media screen and (max-width: 1260px) {
    #restaurant-name {
      margin-top: 300px; } }
  @media screen and (max-width: 1100px) {
    #restaurant-name {
      margin-top: 220px; } }
  @media screen and (max-width: 475px) {
    #restaurant-name {
      border-radius: 0 0 0 0;
      margin-top: 260px;
      width: 100%; } }

#restaurant-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-width: 600px; }
  @media screen and (max-width: 1260px) {
    #restaurant-img {
      min-width: 465px; } }
  @media screen and (max-width: 760px) {
    #restaurant-img {
      max-width: 465px; } }
  @media screen and (max-width: 475px) {
    #restaurant-img {
      min-width: 350px; } }

#restaurant-address, #restaurant-hours {
  font-size: 12pt;
  margin: 0;
  position: relative;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  padding: 15px; }
  @media screen and (max-width: 1100px) {
    #restaurant-address, #restaurant-hours {
      background: -webkit-gradient(linear, left top, right top, color-stop(25%, white), to(rgba(255, 255, 255, 0.1)));
      background: -webkit-linear-gradient(left, white 25%, rgba(255, 255, 255, 0.1) 100%);
      background: -o-linear-gradient(left, white 25%, rgba(255, 255, 255, 0.1) 100%);
      background: linear-gradient(to right, white 25%, rgba(255, 255, 255, 0.1) 100%); } }
  @media screen and (max-width: 760px) {
    #restaurant-address, #restaurant-hours {
      max-width: 465px;
      background: #fff; } }

#restaurant-cuisine {
  background-color: #f18200;
  color: #fff;
  font-weight: 600;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0;
  padding: 5px 15px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  z-index: 10;
  text-shadow: 2px 1px #be6600; }
  @media screen and (max-width: 760px) {
    #restaurant-cuisine {
      max-width: 465px; } }

#restaurant-container {
  margin-top: 50px;
  overflow: hidden;
  border-bottom: 1px solid rgba(241, 130, 0, 0.3); }

#restaurant-container, #reviews-container {
  position: relative;
  z-index: 10;
  width: 40%; }
  @media screen and (max-width: 1100px) {
    #restaurant-container, #reviews-container {
      margin: 30px auto;
      width: calc(100% - 30px);
      max-width: 710px;
      border-radius: 30px 2px 30px 2px; } }
  @media screen and (max-width: 760px) {
    #restaurant-container, #reviews-container {
      max-width: 465px;
      margin-top: 25px; } }
  @media screen and (max-width: 425px) {
    #restaurant-container, #reviews-container {
      margin-top: 40px; } }

#reviews-container {
  margin-top: 30px;
  padding-bottom: 30px; }
  @media screen and (max-width: 1100px) {
    #reviews-container {
      margin-bottom: 0; } }
  #reviews-container h2 {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 0;
    padding: 10px 30px 10px 15px;
    border-radius: 0 30px 0 0;
    text-transform: uppercase;
    line-height: 1.1;
    position: relative;
    z-index: 10;
    display: inline-block;
    border: solid rgba(241, 130, 0, 0.3);
    border-width: 1px 1px 0 0; }

#reviews-list {
  margin: 0;
  padding: 0;
  position: relative; }
  #reviews-list li {
    background-color: #fff;
    list-style-type: none;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 0 0 15px 0;
    position: relative;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgba(241, 130, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (max-width: 1100px) {
      #reviews-list li {
        border-radius: 2px 2px 30px 2px; } }
    #reviews-list li p:first-of-type, #reviews-list li p:nth-of-type(2) {
      margin: 0;
      background-color: #252831;
      color: #fff;
      padding: 5px 15px;
      width: 50%;
      line-height: 20px;
      letter-spacing: 0.1em; }
    #reviews-list li p:nth-of-type(2) {
      text-align: right;
      font-size: 10pt;
      color: #ccc;
      text-shadow: 2px 1px #000; }
    #reviews-list li p:nth-of-type(3), #reviews-list li p:nth-of-type(4) {
      margin: 15px;
      line-height: 1.6em; }
    #reviews-list li p:nth-of-type(3) {
      background-color: #f18200;
      color: #fff;
      font-weight: 600;
      font-size: 10pt;
      font-weight: 300;
      letter-spacing: 5px;
      border-radius: 2px;
      margin: 10px 10px 0;
      padding: 5px 10px;
      text-align: left;
      text-transform: uppercase;
      text-shadow: 2px 1px #be6600; }

#restaurant-hours {
  padding-top: 0; }
  #restaurant-hours td {
    color: #333; }
  @media screen and (max-width: 1100px) {
    #restaurant-hours tr td:first-of-type {
      width: 100px; } }

/* ====================== Restaurant Filtering ====================== */
.filters {
  width: 100%;
  height: auto;
  background-color: #3397DB;
  padding: 15px; }

.filter-options {
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  @media screen and (max-width: 570px) {
    .filter-options {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .filter-options #filter-legend {
    padding: 0;
    display: table;
    color: white;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.05em;
    margin: 0 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    @media screen and (max-width: 570px) {
      .filter-options #filter-legend {
        margin-bottom: 15px; } }
  .filter-options select {
    border-radius: 2px;
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial,sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 0 10px;
    padding: 0 10px;
    width: 200px;
    display: inline-block; }
    .filter-options select:focus {
      outline-color: orange; }
    @media screen and (max-width: 650px) {
      .filter-options select {
        width: 165px; } }
    @media screen and (max-width: 570px) {
      .filter-options select {
        margin: 0 0 15px 0;
        width: calc(100% - 20px);
        height: 40px; }
        .filter-options select:last-of-type {
          margin-bottom: 0; } }
