/* ====================== Page Elements ====================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5; }

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative; }

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  color: #333; }

a {
  color: orange;
  text-decoration: none; }

a:hover, a:focus {
  color: #3397db;
  text-decoration: none; }

a img {
  border: none 0px #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

#maincontent {
  background-color: #ececec;
  min-height: 100%; }

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase; }

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 760px) {
    nav {
      height: 60px; } }
  @media screen and (max-width: 425px) {
    nav {
      height: 75px; } }
  nav h1 {
    margin: auto;
    padding: 20px 10px 0;
    font-size: 22px; }
    @media screen and (max-width: 760px) {
      nav h1 {
        font-size: 18px;
        padding-top: 15px; } }
    @media screen and (max-width: 425px) {
      nav h1 {
        padding-top: 10px; } }
    nav h1 a {
      color: #fff;
      font-weight: 100;
      letter-spacing: 10px;
      text-transform: uppercase; }

#breadcrumb {
  padding: 13px 15px;
  list-style: none;
  background-color: #eee;
  font-size: 12pt;
  margin: 0;
  width: 40%;
  height: 50px;
  -webkit-box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  /* Display list items side by side */
  /* Add a slash symbol (/) before/behind each list item */ }
  @media screen and (max-width: 1100px) {
    #breadcrumb {
      width: 100%;
      text-align: center; } }
  #breadcrumb li {
    display: inline;
    /* Add a color to all links inside the list */ }
    #breadcrumb li a {
      color: #0275d8;
      text-decoration: none;
      /*Add a color on mouseover*/ }
      #breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline; }
  #breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0"; }

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
  border-left: 1px solid #c2c2c2; }
  @media screen and (max-width: 1100px) {
    #map {
      height: 300px; } }
  @media screen and (max-width: 760px) {
    #map {
      height: 200px; } }

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px 20px 60px 20px; }
  #restaurants-list li {
    background-color: #fff;
    font-family: Arial,sans-serif;
    margin-bottom: 20px;
    border-radius: 30px 2px 30px 2px;
    text-align: left;
    width: calc(33% - 20px);
    overflow: hidden;
    position: relative; }
    @media screen and (max-width: 1080px) {
      #restaurants-list li {
        width: calc(50% - 40px); } }
    @media screen and (max-width: 765px) {
      #restaurants-list li {
        width: 100%; } }
    #restaurants-list li h1 {
      color: #f18200;
      font-family: Arial,sans-serif;
      font-size: 14pt;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1.3;
      margin: 39% 0 0;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 10px 30px 10px 15px;
      display: inline-block;
      border-radius: 0 30px 0 0; }
      @media screen and (max-width: 600px) {
        #restaurants-list li h1 {
          font-size: 12pt;
          padding: 5px 30px  5px  10px; } }
    #restaurants-list li a {
      background-color: orange;
      color: #fff;
      display: inline-block;
      font-size: 10pt;
      margin: 0;
      padding: 10px 0 10px 30px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: left;
      text-decoration: none;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      width: calc(100% + 30px);
      right: 15px;
      -webkit-transition: -webkit-transform 300ms ease-in-out;
      transition: -webkit-transform 300ms ease-in-out;
      -o-transition: transform 300ms ease-in-out;
      transition: transform 300ms ease-in-out;
      transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
      -webkit-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
      transform: translate3D(0, 0, 0); }
      #restaurants-list li a span {
        font-size: 12pt;
        position: relative;
        top: -1px; }
      #restaurants-list li a:hover {
        -webkit-transform: translate3D(15px, 0, 0);
        -ms-transform: translate3D(15px, 0, 0);
        transform: translate3D(15px, 0, 0); }
      @media screen and (max-width: 600px) {
        #restaurants-list li a {
          font-size: 10pt;
          padding: 5px 0 5px 30px; } }
    #restaurants-list li p {
      position: relative;
      z-index: 1;
      background: -webkit-gradient(linear, left top, right top, color-stop(40%, rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.45)));
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.45) 100%);
      background: -o-linear-gradient(left, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.45) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 40%, rgba(255, 255, 255, 0.45) 100%);
      padding: 10px 15px;
      font-size: 12pt;
      font-weight: 400;
      text-align: left; }
      #restaurants-list li p:first-of-type {
        padding-bottom: 0; }
      @media screen and (max-width: 600px) {
        #restaurants-list li p {
          font-size: 10pt;
          padding: 5px 10px; } }
  #restaurants-list .restaurant-img {
    background-color: #ccc;
    margin: 0;
    width: 100%;
    position: absolute;
    z-index: 0; }
  #restaurants-list p {
    margin: 0;
    font-size: 11pt; }

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

@media screen and (min-width: 761px) {
  .inside #maincontent {
    margin-top: 130px; } }

@media screen and (max-width: 760px) {
  .inside #maincontent {
    margin-top: 100px; } }

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: calc(100% - 80px);
  position: fixed;
  right: 0;
  top: 80px;
  width: 60%; }
  @media screen and (max-width: 1100px) {
    .inside #map-container {
      width: 100%;
      height: 300px;
      top: 0;
      position: relative;
      z-index: 1;
      border-bottom: 1px solid #d1d1d1;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); } }
  @media screen and (max-width: 760px) {
    .inside #map-container {
      height: 200px;
      top: 10px; } }
  @media screen and (max-width: 425px) {
    .inside #map-container {
      top: 25px; } }

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%; }

.inside #footer {
  width: 40%; }
  @media screen and (max-width: 1100px) {
    .inside #footer {
      width: 100%; } }

#restaurant-name {
  color: #f18200;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 400px 0 0;
  padding: 10px 30px 10px 15px;
  border-radius: 0 30px 0 0;
  text-transform: uppercase;
  line-height: 1.1;
  position: relative;
  z-index: 10;
  display: inline-block; }
  @media screen and (max-width: 1260px) {
    #restaurant-name {
      margin-top: 300px; } }
  @media screen and (max-width: 1100px) {
    #restaurant-name {
      margin-top: 220px; } }
  @media screen and (max-width: 475px) {
    #restaurant-name {
      background-color: #fff;
      border-radius: 0 0 0 0;
      margin-top: 260px;
      width: 100%; } }

#restaurant-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-width: 600px; }
  @media screen and (max-width: 1260px) {
    #restaurant-img {
      min-width: 465px; } }
  @media screen and (max-width: 760px) {
    #restaurant-img {
      max-width: 465px; } }
  @media screen and (max-width: 475px) {
    #restaurant-img {
      min-width: 350px; } }

#restaurant-address, #restaurant-hours {
  font-size: 12pt;
  margin: 0;
  position: relative;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  padding: 15px; }
  @media screen and (max-width: 1100px) {
    #restaurant-address, #restaurant-hours {
      background: -webkit-gradient(linear, left top, right top, color-stop(20%, white), to(rgba(255, 255, 255, 0.1)));
      background: -webkit-linear-gradient(left, white 20%, rgba(255, 255, 255, 0.1) 100%);
      background: -o-linear-gradient(left, white 20%, rgba(255, 255, 255, 0.1) 100%);
      background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0.1) 100%); } }
  @media screen and (max-width: 760px) {
    #restaurant-address, #restaurant-hours {
      max-width: 465px;
      background: #fff; } }

#restaurant-cuisine {
  background-color: #f18200;
  color: #252831;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0;
  padding: 2px 15px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  z-index: 10; }
  @media screen and (max-width: 760px) {
    #restaurant-cuisine {
      max-width: 465px; } }

#restaurant-container {
  margin-top: 50px;
  overflow: hidden;
  border-bottom: 1px solid rgba(241, 130, 0, 0.3); }

#restaurant-container, #reviews-container {
  position: relative;
  z-index: 10;
  width: 40%; }
  @media screen and (max-width: 1100px) {
    #restaurant-container, #reviews-container {
      margin: 30px auto;
      width: calc(100% - 30px);
      max-width: 710px;
      border-radius: 30px 2px 30px 2px; } }
  @media screen and (max-width: 760px) {
    #restaurant-container, #reviews-container {
      max-width: 465px;
      margin-top: 25px; } }
  @media screen and (max-width: 425px) {
    #restaurant-container, #reviews-container {
      margin-top: 40px; } }

#reviews-container {
  margin-top: 30px;
  padding-bottom: 30px; }
  @media screen and (max-width: 1100px) {
    #reviews-container {
      margin-bottom: 0; } }
  #reviews-container h2 {
    color: #f18200;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 0;
    padding: 10px 30px 10px 15px;
    border-radius: 0 30px 0 0;
    text-transform: uppercase;
    line-height: 1.1;
    position: relative;
    z-index: 10;
    display: inline-block; }

#reviews-list {
  margin: 0;
  padding: 0;
  position: relative; }
  #reviews-list li {
    background-color: #fff;
    list-style-type: none;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 40px 0 15px 0;
    position: relative;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid rgba(241, 130, 0, 0.3); }
    @media screen and (max-width: 1100px) {
      #reviews-list li {
        border-radius: 2px 2px 30px 2px; }
        #reviews-list li:first-of-type {
          border-radius: 0 2px 30px 2px; } }
    #reviews-list li p {
      margin: 0;
      line-height: 1.8em; }
      #reviews-list li p:nth-of-type(2), #reviews-list li p:nth-of-type(1) {
        display: inline-block;
        padding: 0 0 0 15px; }
      #reviews-list li p:nth-of-type(4) {
        padding: 10px 15px; }
      #reviews-list li p:nth-of-type(3) {
        background-color: #f18200;
        color: #252831;
        font-size: 12pt;
        font-weight: 300;
        letter-spacing: 10px;
        margin: 0;
        padding: 2px 15px;
        text-align: left;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        width: 100%; }

#restaurant-hours {
  padding-top: 0; }
  #restaurant-hours td {
    color: #666; }
  @media screen and (max-width: 1100px) {
    #restaurant-hours tr td:first-of-type {
      width: 100px; } }

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #3397DB;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 540px) {
    .filter-options {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      height: auto;
      padding-top: 10px; } }

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px; }

.filter-options select {
  border-radius: 2px;
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px; }
  @media screen and (max-width: 600px) {
    .filter-options select {
      width: 165px; } }
  @media screen and (max-width: 540px) {
    .filter-options select {
      width: calc(100% - 20px);
      height: 40px; }
      .filter-options select:first-of-type {
        margin-bottom: 0; } }
