/* ====================== Navigation ====================== */

#breadcrumb
  padding: 13px 15px
  list-style: none
  background-color: #eee
  font-size: 12pt
  margin: 0
  width: 40%
  height: 50px
  border-bottom: 1px solid rgba(#f18200, 0.3)


  @media screen and (max-width: 1100px)
    width: 100%
    text-align: center


  /* Display list items side by side */
  li
    display: inline
    /* Add a color to all links inside the list */
    a
      color: #0275d8
      text-decoration: none
      /*Add a color on mouseover*/
      &:hover
        color: #01447e
        text-decoration: underline
      &.current-page
        color: #000
        cursor: default
        &:hover
          color: #000
          text-decoration: none

  /* Add a slash symbol (/) before/behind each list item */
  li+li:before
    padding: 8px
    color: black
    content: "/\00a0"


#tab-nav-container
  position: absolute
  top: 70px
  right: 15px
  z-index: 999
  @media screen and (max-width: 760px)
    top: 50px

  ul
    padding: 0
    margin: 0
    list-style-type: none
    font-size: 12px
    transition: transform 400ms ease-in-out
    background-color: #252831
    border-radius: 0 0 2px 2px
    transform: translateY(-150px)
    padding: 10px
    &.expanded
      transform: translateY(0)
